.ButtonContainer {
    color: #FF2773;
    border-radius: 24px;
    background-color: white;
    padding: 12px 22px;
    position: relative;
    cursor: pointer;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #FF2773;
    -webkit-transition: 200ms ease-out;
}

.ButtonContainer:hover {
    background-color: #FF2773;
    color: white;
}